body{
	background-color:lightgray;
	padding:5px;
	margin:5px;
}
a{
	color:black;
	text-decoration:none;
	margin:2px;
	
}
h1{
	text-align:center;
	color:red
};
.video1{
  width: 200px;
  height: 200px;
}
/* Your CSS Code here. */